/* commence primary ignition */

* {
    box-sizing: border-box;
}
header, section, footer, aside, nav, article, figure, figcaption {
  display: block;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body { 
  font-family: Georgia, "Times New Roman", serif, Myriad Pro;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
}

/* end primary ignition */

h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: 400;
  font-size: 3em;
}
h2 {
  text-align: center;
  font-family: 'Poiret One', cursive;
}
p {
  text-align: center;
  padding: 1em 0em;
  width: 50%;
  display: block;
  margin: 0 auto;
  line-height: 2em;
}
img.example {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}
div.wrapper {
  text-align: center;
}
ul.pagination {
  display: inline-block;
  padding: 0;
  padding-top: 3em;
  margin: 0;
}
ul.pagination li {
  display: inline;
}
ul.pagination li a {
  color: black;
  font-family: 'Poiret One', cursive;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}
ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}
a.home {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
  font-family: 'Poiret One', cursive;
}